@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,500&family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
  color: black;
}

/* --------header-------- */

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.box {
  padding: 10px 10%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(96, 92, 92, 0.6);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

/* --------logo-------- */

.logo {
  font-size: 45px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
}

.logo span {
  color: gold;
  font-size: 50px;
  font-weight: 600;
}

/* --------menu-------- */

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  position: relative;
}

nav a.active,
nav a:hover {
  background: linear-gradient(45deg, gold, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#animation span,
.logo span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* --------home-------- */

#home .box {
  padding: 0;
}

.home-content {
  display: flex;
}

.myphoto img {
  width: 200px;
  border-radius: 50%;
  margin-top: 40%;
  margin-left: 0%;
  margin-right: 20%;
}

.home-text {
  margin-left: 25%;
  margin-top: 11%;
  font-size: 32px;
  font-weight: 700;
}

.home-text h1 {
  font-size: 60px;
  font-family: "Permanent Marker", cursive;
}

.home-text h1 span {
  font-size: 56px;
  color: gold;
  font-family: "Permanent Marker", cursive;
}

.home-text h3 {
  font-size: 56px;
  font-family: "Yellowtail", cursive;
}

/* -----------about----------- */

#about {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  position: relative;
  font-size: 100px;
  color: rgb(239, 237, 237);
  text-transform: uppercase;
  white-space: nowrap;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: gold;
  overflow: hidden;
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* -----------skills----------- */

#skills {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* -----------portfolio----------- */

#portfolio {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

#portfolio .dynamic-txts {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: gold;
  font-size: 60px;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  animation: typing 3s steps(13) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* -----------contact----------- */

#contact {
  min-height: 100vh;
  display: grid;
  position: relative;
}

#contact p {
  font-size: 400%;
  font-weight: 700;
  color: gold;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 1s;
}

.inner2 {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
}

/* -----------small screen----------- */

nav .icons {
  display: none;
}

@media only screen and (max-width: 1048px) {
  h2 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1006px) {
  #header {
    background-image: url(images/phone-background2.png);
  }

  nav .icons {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: black;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 150px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .icons {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .home-content {
    display: grid;
  }

  .myphoto img {
    width: 150px;
    margin-top: 0;
    margin-left: 40%;
  }

  .home-text {
    margin: auto;
    margin-top: 200px;
    font-size: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 628px) {
  .home-text {
    margin: auto;
    margin-top: 200px;
    font-size: 28px;
    font-weight: 700;
  }

  .home-text h1 {
    font-size: 50px;
  }

  .home-text h1 span {
    font-size: 48px;
  }

  .home-text h3 {
    font-size: 48px;
  }
}
